.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 10px;
  color: white;
    margin-bottom: 10px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.content {
    margin: 16px;
}

.content table {
    text-align: left;
    border: 1px solid black;
    border-spacing: 0;
}

.content table tr.bill-paid td {
    background-color: darkseagreen;
}

.content table tr.bill-not-paid td {
    background-color: indianred;
}

.content table tr td.bill-paid {
    background-color: darkseagreen;
}

.content table tr td.bill-not-paid {
    background-color: indianred;
}

.content table th, td {
    border: 1px solid black;
    padding: 3px 5px;
}

.content table td.appartment-number {
    font-weight: bold;
    text-align: center;
}

.sidebar {
    width: 200px;
    float: left;
    margin-right: 10px;
}

.sidebar ul {
    list-style: none;
    text-align: left;
}

.sidebar ul li {
    border: 1px solid gray;
    border-radius: 5px;
}

.sidebar ul li.current {
    background-color: lightgray;
}

.sidebar ul li a {
    padding: 5px 10px;
    display: block;
    width: 100%;
    text-decoration: none;
    color: black;
}

.sidebar ul li a:visited {
    color: black;
}

.sidebar-menu {
    padding-left: 0px;
}
